/* #orderHeader {
    z-index: 1;
} */

/* #orderList {
    z-index: 0;
} */

#mapClientAction {
    height: 600px;
    width: 100%;
    position:absolute;
    /* top: 135px; left: 0px; */
    z-index: 1;
}

#mapDelivery {
    height: 600px;
    width: 100%;
    position:absolute;
    z-index: 1;
}

#mapConfirmDelivery {
    height: 400px;
    width: 100%;
}

#receiveMeal {
    position:absolute;
    top: 200px; left: 12px;
    z-index: 2;
}

#match {
    position:absolute;
    top: 240px; left: 50px;
    z-index: 2;
}

#order {
    position:absolute;
    top: 180px; left: 50px;
    z-index: 2;
}

#startDelivery {
    position:absolute;
    top: 120px; left: 50px;
    z-index: 2;
}